<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/common.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="container header-bar">
        <div class="row v-center">
            <div class="col logo">
                <h1 class="display-4">Learn Master</h1>
            </div>
            <div class="col search">
                <form>
                    <input type="text" id="search-bar" placeholder="search">
                    <input type="button" class="blue-text" value="搜索🔍">
                </form>
            </div>
        </div>
    </div>
    <div class="navigation v-center">
        <div class="container">
            <div class="row ">
                <div class="col col-sm-2 col-lg-1">首页</div>
                <div class="col col-sm-2 col-lg-1">推荐</div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row main">
        <div class="col-sm-3 col-lg-2 left-column">
            <div>
                <h5>目录</h5>
                <hr>
                <dl class="list-group">
                    <dd class="list-group-item-action">第一步</dd>
                    <dd class="list-group-item-action">第二步</dd>
                    <dd class="list-group-item-action">第三步</dd>
                    <dd class="list-group-item-action">第四步</dd>
                    <dd class="list-group-item-action">第五步</dd>
                </dl>
            </div>
            <br>
            <div class="recommend">
                <h5 class="section">相关专题</h5>
                <hr>
                <dl class="list-group">
                    <dd class="list-group-item-action"><a href="#">python教程</a></dd>
                    <dd class="list-group-item-action"><a href="#">linux教程</a></dd>
                    <dd class="list-group-item-action"><a href="#">操作系统</a></dd>
                </dl>

            </div>
        </div>
        <div class="col middle-column">
            <div class="title">
                <h2>文字的解释</h2>
                <hr>
            </div>
            <div class="content">
                文字是人类用表意符号记录表达信息以传之久远的方式和工具。现代文字大多是记录语言的工具。人类往往先有口头的语言后产生书面文字，很多小语种，有语言但没有文字。文字的不同体现了国家和民族的书面表达的方式和思维不同。文字使人类进入有历史记录的文明社会。
                文字按字音和字形，可分为表形文字、表音文字和意音文字。按语音和语素，可分为音素文字、音节文字和语素文字。
                表形文字是人类早期原生文字的象形文字，比如：古埃及的圣书字、两河流域的楔形文字、古印度文字、美洲的玛雅文和早期的汉字。
                意音文字是由表义的象形符号和表音的声旁组成的文字，汉字是由表形文字进化成的意音文字，汉字也是语素文字，也是一种二维文字。
            </div>
            <hr>
            <div class="comments">
                <h5>评论</h5>
                <div class="comment-input-box">
                    <form>
                        <textarea class="comment-input">

                        </textarea>
                        <div class="send-btn-box">
                            <input class="send-btn" type="button" value="发送">
                        </div>
                    </form>
                </div>
                <div class="comment-box">
                    <div class="c-user">
                        <div class="user-img"></div>
                        <div class="detail">
                            <span class="name">张三</span><br>
                            <span class="c-time">2021-04-11 09:55</span>
                        </div>
                    </div>
                    <div class="comment">支持，不错不错</div>
                </div>
                <div class="comment-box">
                    <div class="c-user">
                        <div class="user-img"></div>
                        <div class="detail">
                            <span class="name">18岁开游艇</span><br>
                            <span class="c-time">2021-04-11 11:49</span>
                        </div>
                    </div>
                    <div class="comment">博主，你这是抄百度的吧</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="h-center">
        Copyright © 2021-2021 LearnMaster All Rights Reserved.
    </div>
</footer>
</body>
</html>
<br>
<!--                <h5 class="section">热门评论</h5>
                <dl class="list-group">
                    <dt class="list-group-item-action">[吃靴子的猫]：</dt>
                    <dd class="list-group-item-action">原来是这样啊，学到了</dd>
                    <dt class="list-group-item-action">[我爱中国]：</dt>
                    <dd class="list-group-item-action">厉害了 👍</dd>
                </dl> -->